{% extends "base.html" %}
{% block contents %}
    <div style="margin-top: 80px; margin-left:10px;">
    {% if user.is_authenticated %}
        <h1>기업명: {{user.company.com_name}} </h1>
        <h1>주력산업: {{user.company.com_major}}</h1>
        <h1>이메일: {{user.username}}</h1>
        <form method='POST' action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" value="로그아웃">
        </form>
    {% else %}
        <a href="{% url 'agreement' %}">회원가입</a>
        <a href="{% url 'login' %}">로그인</a>
    </div>
    {% endif %}
{% endblock %}